*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: aquamarine;
    color: blue;
}

.nav-item{
border: 1px solid palevioletred;
background: bisque;
}
